*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{


}




.parent
{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('images/solar-panel-colorful-sky-background-sunlight_39901-62.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.icon-style
{
    background-color: thistle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
}

.icon-color
{
    background-color: #DB4437;
    margin-right: 5px;
}

.icon-color2
{
    background-color: #4285F4;
    margin-left: 5px;
}

.form-child
{

    border-radius: 15px;
    border: 1px solid rgb(209, 191, 226);

}

.line
{
    display: inline-block;
}

.border-btn
{
    border-radius: 50px;
}

.tools
{
    display: flex;
    justify-content: space-between;
}